[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
openpyxl = "*"
tabulate = "*"
questionary = "==2.1.0"
prompt-toolkit = "==3.0.51"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
